<div class="ui page grid stackable segment">
    <div class="row">
        <div class="column">
            <h1 class="center aligned ui header">
                How to contact me
            </h1>
            <div class="ui horizontal divider"><i class="mail icon"></i></div>
        </div>
    </div>
    <div class="center four column aligned row">
        <div class="column">
            <div class="ui text shape">
                <div class="sides">
                    <div class="active side">
                        <a href="https://github.com/joaquimpedro" target="_blank"><i class="huge circular github icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://facebook.com.br/pedro.quindin" target="_blank"><i class="huge circular facebook icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://twitter.com/quindin" target="_blank"><i class="huge circular twitter icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://plus.google.com/u/0/115968790362167254223" target="_blank"><i class="huge circular google plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui text shape">
                <div class="sides">
                    <div class="side">
                        <a href="https://github.com/joaquimpedro" target="_blank"><i class="huge circular github icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://facebook.com.br/pedro.quindin" target="_blank"><i class="huge circular facebook icon"></i></a>
                    </div>
                    <div class="active side">
                        <a href="https://twitter.com/quindin" target="_blank"><i class="huge circular twitter icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://plus.google.com/u/0/115968790362167254223" target="_blank"><i class="huge circular google plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui text shape">
                <div class="sides">
                    <div class="side">
                        <a href="https://github.com/joaquimpedro" target="_blank"><i class="huge circular github icon"></i></a>
                    </div>
                    <div class="active side">
                        <a href="https://facebook.com.br/pedro.quindin" target="_blank"><i class="huge circular facebook icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://twitter.com/quindin" target="_blank"><i class="huge circular twitter icon"></i></a>
                    </div>
                    <div class="side">
                        <a href="https://plus.google.com/u/0/115968790362167254223" target="_blank"><i class="huge circular google plus icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>